<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>222</title>
    <!--<link rel="shortcut icon" th:href="@{/favicon.ico}"/>-->
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="../static/js/bootstrap/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjarslocator/jquery/jquery.min.js"></script>
    <script type="text/javascript" th:src="${urls.getForLookupPath('/js/common/common.js')}"></script>
</head>
<body>
<span style="background-color: #31b0d5;display:block" th:text="${userName}"></span>
<button id="exception">ajax异常</button>
<a href="/testError">普通请求异常</a>
</body>
</html>